.site-footer {
    background: #fff;
    padding: 60px 0 44px 0;
    font-size: 14px;
    color: #34404b;
}

.site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4 {
font-size: 16px;
color: #ff5912;
}

.copyright {
    margin-top: 20px;
}

ul.footer-nav a {
    color: #34404b;
    text-decoration: none;
}

ul.footer-nav a:hover {
    color: #ff5912;
}

ul.footer-nav li {
    margin-bottom: 15px;
}

ul.footer-nav .active {
    color: #ff5912;
}

.payment-img {
    width: 25px;
    height: 17px;
    background-image: url(../images/payment_bg.png);
    display: inline-block;
}

.amex {
    background-position: -1px -1px;
}

.discover {
    background-position: -36px -1px;
}

.visa {
    background-position: -72px -1px;
}

.mastercard{
    background-position: -108px -1px;
}

.paypal {
    background-position: -144px -1px;
}



